<a href="https://colab.research.google.com/github/dapsavoie/tz_water_well_prediction/blob/master/76_Decision_Tree_Classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd 
import numpy as np

In [36]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
df_values = pd.read_csv('/content/drive/My Drive/tz_water_well_data/training_set_labels.csv')
df_labels = pd.read_csv('/content/drive/My Drive/tz_water_well_data/training_set_values.csv')
df_test_set = pd.read_csv('/content/drive/My Drive/tz_water_well_data/test_set_values.csv')

In [51]:
df_values.columns

Index(['id', 'amount_tsh', 'date_recorded', 'funder', 'gps_height',
       'installer', 'longitude', 'latitude', 'wpt_name', 'num_private',
       'basin', 'subvillage', 'region', 'region_code', 'district_code', 'lga',
       'ward', 'population', 'public_meeting', 'recorded_by',
       'scheme_management', 'scheme_name', 'permit', 'construction_year',
       'extraction_type', 'extraction_type_group', 'extraction_type_class',
       'management', 'management_group', 'payment', 'payment_type',
       'water_quality', 'quality_group', 'quantity', 'quantity_group',
       'source', 'source_type', 'source_class', 'waterpoint_type',
       'waterpoint_type_group'],
      dtype='object')

#

In [0]:
predictors = df_values.drop(columns=['id', 'date_recorded', 'longitude', 'latitude', 'recorded_by', 'permit',  'scheme_management', 'scheme_name', 'permit', 'funder', 
                            'installer', 'subvillage', 'public_meeting', 'wpt_name',
                            'ward', 'extraction_type'])

In [53]:
data = pd.get_dummies(predictors)
data.head()

   amount_tsh  ...  waterpoint_type_group_other
0      6000.0  ...                            0
1         0.0  ...                            0
2        25.0  ...                            0
3         0.0  ...                            0
4         0.0  ...                            0

[5 rows x 270 columns]

In [0]:
x = data
y =df_labels['status_group']

In [0]:
from sklearn.model_selection import train_test_split

data_train, data_test, target_train, target_test = train_test_split(x, y, 
                                                                    test_size = 0.25, random_state=123)

In [56]:
from sklearn.tree import DecisionTreeClassifier

# Instantiate and fit a DecisionTreeClassifier
tree_clf2 = DecisionTreeClassifier(random_state=10, criterion='entropy')  
tree_clf2.fit(data_train, target_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=10, splitter='best')

In [57]:
y_pred= tree_clf2.predict(data_test)
y_pred

array(['functional', 'non functional', 'functional', ..., 'functional',
       'functional', 'functional'], dtype=object)

In [58]:
from sklearn.metrics import accuracy_score
# Calculate accuracy 
acc = accuracy_score(target_test,y_pred)
print('Accuracy is :{0}'.format(acc))

Accuracy is :0.7556902356902357

# Test Predictors

In [0]:
df_test_set = df_test_set.drop(columns=['id', 'date_recorded', 'longitude', 'latitude', 'recorded_by', 'permit',  'scheme_management', 'scheme_name', 'permit', 'funder', 
                            'installer', 'subvillage', 'public_meeting', 'wpt_name',
                            'ward', 'extraction_type'])

In [0]:
df_test_set = pd.get_dummies(df_test_set)

In [63]:
df_test_set.shape, data.shape

((14850, 270), (59400, 270))

In [64]:
df_test_set.shape, data_test.shape

((14850, 270), (14850, 270))

In [65]:
# We have 16 extra columns we need to delete somehow 
set(data.columns).symmetric_difference(df_test_set.columns)

set()

In [66]:
y_pred_test_set= tree_clf2.predict(df_test_set)
y_pred_test_set

array(['functional', 'functional', 'non functional', ...,
       'non functional', 'functional', 'non functional'], dtype=object)

In [67]:
from sklearn.metrics import accuracy_score
# Calculate accuracy 
acc = accuracy_score(target_test,y_pred_test_set)
print('Accuracy is :{0}'.format(acc))

Accuracy is :0.44855218855218854

# Functions that need debugging

In [0]:
def merge(values, labels):
  merged = pd.merge(values, labels, on='id', how='left')

#Change date dtypes 
#merged['date_recorded'] = pd.to_datetime(merged['date_recorded'])
#merged['construction_year'] = pd.to_datetime(merged['construction_year'])

  return merged

In [0]:
import pandas as pd

def get_dummies(data):
  #Select columns for prediction and create df
  predictors = data.drop(columns=['date_recorded', 'longitude', 
                                       'latitude', 'recorded_by', 'permit',  
                                       'scheme_management', 'scheme_name', 'permit', 
                                       'funder', 
                                        'installer', 'subvillage', 'public_meeting']),
                               inplace=True)
  
  #Create Dummy Data
  dummy_data = pd.get_dummies(predictors)

  return dummy_data

In [0]:
from sklearn.model_selection import train_test_split 
from sklearn.tree import DecisionTreeClassifier

def decision_tree(x, y):
  #selecting columns 
  x = data.drop(columns='status_group')
  y = data['status_group']

  #Train Test Split
  x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

  #Create DecisionTreeClassifier()
  clf = DecisionTreeClassifier()

  #Train Decision Tree Classifier
  clf = clf.fit(x_train, y_train)

  #Prediction response for test data
  y_pred = clf.predict(x_test)

  #Print Accuracy metrics 
  print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

  return y_pred

In [0]:
#Select columns for prediction and create df
predictors = data.drop(columns=['date_recorded', 'longitude', 
                                       'latitude', 'recorded_by', 'permit',  
                                       'scheme_management', 'scheme_name', 'permit', 
                                       'funder', 
                                        'installer', 'subvillage', 'public_meeting']),
                               inplace=True)

IndentationError: ignored

In [0]:
dummies.head()

AttributeError: ignored

In [0]:
data['date_recorded'] = pd.to_datetime(data['date_recorded'])
data['construction_year'] = pd.to_datetime(data['construction_year'])

In [0]:
data.dtypes

id                                int64
status_group                     object
amount_tsh                      float64
date_recorded            datetime64[ns]
funder                           object
gps_height                        int64
installer                        object
longitude                       float64
latitude                        float64
wpt_name                         object
num_private                       int64
basin                            object
subvillage                       object
region                           object
region_code                       int64
district_code                     int64
lga                              object
ward                             object
population                        int64
public_meeting                   object
recorded_by                      object
scheme_management                object
scheme_name                      object
permit                           object
construction_year        datetime64[ns]
extraction_type                  object
extraction_type_group            object
extraction_type_class            object
management                       object
management_group                 object
payment                          object
payment_type                     object
water_quality                    object
quality_group                    object
quantity                         object
quantity_group                   object
source                           object
source_type                      object
source_class                     object
waterpoint_type                  object
waterpoint_type_group            object
dtype: object

In [0]:
dummies = get_dummies(data)

TypeError: ignored

In [0]:
dummies.head()

   amount_tsh  ...  waterpoint_type_group_other
0      6000.0  ...                            0
1         0.0  ...                            0
2        25.0  ...                            0
3         0.0  ...                            0
4         0.0  ...                            0

[5 rows x 39780 columns]

In [0]:
data.dtypes

id                                int64
status_group                     object
amount_tsh                      float64
gps_height                        int64
wpt_name                         object
num_private                       int64
basin                            object
region                           object
region_code                       int64
district_code                     int64
lga                              object
ward                             object
population                        int64
construction_year        datetime64[ns]
extraction_type                  object
extraction_type_group            object
extraction_type_class            object
management                       object
management_group                 object
payment                          object
payment_type                     object
water_quality                    object
quality_group                    object
quantity                         object
quantity_group                   object
source                           object
source_type                      object
source_class                     object
waterpoint_type                  object
waterpoint_type_group            object
dtype: object

In [0]:
import pandas as pd

def get_dummies(data):
  #Select columns for prediction and create df
  predictors = data.drop(columns=['id', 'status_group','date_recorded', 'longitude', 
                                       'latitude', 'recorded_by', 'permit',  
                                       'scheme_management', 'scheme_name', 'permit', 
                                       'funder', 
                                        'installer', 'subvillage', 'public_meeting'])
  
  #Create Dummy Data
  dummy_data = pd.get_dummies(predictors)

  return dummy_data

('id', 'status_group', '')