<a href="https://colab.research.google.com/github/dapsavoie/tz_water_well_prediction/blob/master/Clean_Data_Cleaning_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#

In [0]:
import pandas as pd
import numpy as np

In [255]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
df_values = pd.read_csv('/content/drive/My Drive/tz_water_well_data/training_set_labels.csv')
df_labels = pd.read_csv('/content/drive/My Drive/tz_water_well_data/training_set_values.csv')
df_test_set = pd.read_csv('/content/drive/My Drive/tz_water_well_data/test_set_values.csv')

# Datetimes Conversion

In [0]:
def datetimes(data):

  #Update datetimes
  data['construction_year'] = pd.to_datetime(data['construction_year'])

  return data

In [0]:
#train dtype datetime conversion
df_values['construction_year'] = pd.to_datetime(df_values['construction_year'])
df_values['date_recorded'] = pd.to_datetime(df_values['date_recorded'])

In [0]:
#test dtype datetime conversion
df_test_set['construction_year'] = pd.to_datetime(df_test_set['construction_year'])
df_test_set['date_recorded'] = pd.to_datetime(df_test_set['date_recorded'])

# Cleaning Installer, Funder, Scheme Management rows

In [0]:
def installer_cleaner(row):
  
#Goes thru each row and replaces anything not in the top 5 installers with other'
  if row['installer'] == 'DWE':
    return 'DWE'
  elif row['installer'] == 'Government':
    return 'Danida'
  elif row['installer'] == 'RWE':
    return 'RWE'
  elif row['installer'] == 'Commu':
    return 'Commu'
  elif row['installer'] == 'DANIDA':
    return 'DANIDA'
  else:
    return 'other'

#run formula 
df_values['installer'] = df_values.apply(lambda row: installer_cleaner(row), axis=1) 
df_test_set['installer'] = df_test_set.apply(lambda row: installer_cleaner(row), axis=1)

In [261]:
df_values['installer'].value_counts(), df_test_set['installer'].value_counts()

(other     36857
 DWE       17402
 Danida     1825
 RWE        1206
 Commu      1060
 DANIDA     1050
 Name: installer, dtype: int64, other     9210
 DWE       4349
 Danida     457
 RWE        292
 Commu      287
 DANIDA     255
 Name: installer, dtype: int64)

In [0]:
def funder_cleaner(row):  
  #Same as before but for funders

    if row['funder']=='Government Of Tanzania':
        return 'Government of Tanzania'
    elif row['funder']=='Danida':
        return 'Danida'
    elif row['funder']=='Hesawa':
        return 'Hesawa'
    elif row['funder']=='Rwssp':
        return 'Rwssp'
    elif row['funder']=='World Bank':
        return 'World_Bank'    
    else:
        return 'other'

#run formulas 
df_values['funder'] = df_values.apply(lambda row: funder_cleaner(row), axis=1)
df_test_set['funder'] = df_test_set.apply(lambda row: funder_cleaner(row), axis=1)

In [263]:
df_values['funder'].value_counts(), df_test_set['funder'].value_counts()

(other                     42277
 Government of Tanzania     9084
 Danida                     3114
 Hesawa                     2202
 Rwssp                      1374
 World_Bank                 1349
 Name: funder, dtype: int64, other                     10581
 Government of Tanzania     2215
 Danida                      793
 Hesawa                      580
 World_Bank                  352
 Rwssp                       329
 Name: funder, dtype: int64)

In [0]:
def scheme_management_cleaner(row):  
  #Same as before but for funders

    if row['scheme_management']=='VWC':
        return 'VWC'
    elif row['scheme_management']=='WUG':
        return 'WUG'
    elif row['scheme_management']=='Water authority':
        return 'Water authority'
    elif row['scheme_management']=='WUA':
        return 'WUA'
    elif row['scheme_management']=='Water Board':
        return 'Water Board'    
    else:
        return 'other'

#run formulas 
df_values['scheme_management'] = df_values.apply(lambda row: scheme_management_cleaner(row), axis=1)
df_test_set['scheme_management'] = df_test_set.apply(lambda row: scheme_management_cleaner(row), axis=1)

In [265]:
df_values['scheme_management'].value_counts(), df_test_set['scheme_management'].value_counts()

(VWC                36793
 other               8617
 WUG                 5206
 Water authority     3153
 WUA                 2883
 Water Board         2748
 Name: scheme_management, dtype: int64, VWC                9124
 other              2232
 WUG                1290
 Water authority     822
 Water Board         714
 WUA                 668
 Name: scheme_management, dtype: int64)

# Null Treatment & Ward Cleaner

In [0]:
#Train Set
df_values['public_meeting'] = df_values['public_meeting'].fillna('Unknown')
df_values['permit'] = df_values['permit'].fillna('Unknown')

#Test Set
df_test_set['public_meeting'] = df_values['public_meeting'].fillna('Unknown')
df_test_set['permit'] = df_values['permit'].fillna('Unknown')

In [267]:
df_values['ward'].value_counts()

Igosi        307
Imalinyi     252
Siha Kati    232
Mdandu       231
Nduruma      217
            ...
Thawi          1
Ikweha         1
Simbay         1
Rasbura        1
Mitole         1
Name: ward, Length: 2092, dtype: int64

In [0]:
def ward_cleaner(row):  
  #Same as before but for funders

    if row['ward']=='Igosi':
        return 'Igosi'
    elif row['ward']=='Imalinyi':
        return 'Imalinyi'
    elif row['ward']=='Siha Kati':
        return 'Siha Kati'
    elif row['ward']=='Mdandu':
        return 'Mdandu'
    elif row['ward']=='Nduruma':
        return 'Nduruma'    
    else:
        return 'other'

#run formulas 
df_values['scheme_management'] = df_values.apply(lambda row: ward_cleaner(row), axis=1)
df_test_set['scheme_management'] = df_test_set.apply(lambda row: ward_cleaner(row), axis=1)

In [269]:
df_values['scheme_management'].value_counts(), df_test_set['scheme_management'].value_counts()

(other        58161
 Igosi          307
 Imalinyi       252
 Siha Kati      232
 Mdandu         231
 Nduruma        217
 Name: scheme_management, dtype: int64, other        14535
 Igosi           79
 Imalinyi        66
 Siha Kati       65
 Mdandu          61
 Nduruma         44
 Name: scheme_management, dtype: int64)

In [270]:
df_values.isna().sum(), df_test_set.isna().sum()

(id                           0
 amount_tsh                   0
 date_recorded                0
 funder                       0
 gps_height                   0
 installer                    0
 longitude                    0
 latitude                     0
 wpt_name                     0
 num_private                  0
 basin                        0
 subvillage                 371
 region                       0
 region_code                  0
 district_code                0
 lga                          0
 ward                         0
 population                   0
 public_meeting               0
 recorded_by                  0
 scheme_management            0
 scheme_name              28166
 permit                       0
 construction_year            0
 extraction_type              0
 extraction_type_group        0
 extraction_type_class        0
 management                   0
 management_group             0
 payment                      0
 payment_type                 0
 water_quality                0
 quality_group                0
 quantity                     0
 quantity_group               0
 source                       0
 source_type                  0
 source_class                 0
 waterpoint_type              0
 waterpoint_type_group        0
 dtype: int64, id                          0
 amount_tsh                  0
 date_recorded               0
 funder                      0
 gps_height                  0
 installer                   0
 longitude                   0
 latitude                    0
 wpt_name                    0
 num_private                 0
 basin                       0
 subvillage                 99
 region                      0
 region_code                 0
 district_code               0
 lga                         0
 ward                        0
 population                  0
 public_meeting              0
 recorded_by                 0
 scheme_management           0
 scheme_name              7092
 permit                      0
 construction_year           0
 extraction_type             0
 extraction_type_group       0
 extraction_type_class       0
 management                  0
 management_group            0
 payment                     0
 payment_type                0
 water_quality               0
 quality_group               0
 quantity                    0
 quantity_group              0
 source                      0
 source_type                 0
 source_class                0
 waterpoint_type             0
 waterpoint_type_group       0
 dtype: int64)

In [271]:
#Need to drop sub-village and scheme_name 

df_values.drop(columns=['subvillage', 'scheme_name', 'wpt_name', 'ward', 'date_recorded', 'construction_year', 'longitude', 'latitude'], inplace=True)
df_test_set.drop(columns=['subvillage', 'scheme_name', 'wpt_name', 'ward', 'date_recorded', 'construction_year', 'longitude', 'latitude'], inplace=True)

df_values.isna().sum(), df_test_set.isna().sum()

(id                       0
 amount_tsh               0
 funder                   0
 gps_height               0
 installer                0
 num_private              0
 basin                    0
 region                   0
 region_code              0
 district_code            0
 lga                      0
 population               0
 public_meeting           0
 recorded_by              0
 scheme_management        0
 permit                   0
 extraction_type          0
 extraction_type_group    0
 extraction_type_class    0
 management               0
 management_group         0
 payment                  0
 payment_type             0
 water_quality            0
 quality_group            0
 quantity                 0
 quantity_group           0
 source                   0
 source_type              0
 source_class             0
 waterpoint_type          0
 waterpoint_type_group    0
 dtype: int64, id                       0
 amount_tsh               0
 funder                   0
 gps_height               0
 installer                0
 num_private              0
 basin                    0
 region                   0
 region_code              0
 district_code            0
 lga                      0
 population               0
 public_meeting           0
 recorded_by              0
 scheme_management        0
 permit                   0
 extraction_type          0
 extraction_type_group    0
 extraction_type_class    0
 management               0
 management_group         0
 payment                  0
 payment_type             0
 water_quality            0
 quality_group            0
 quantity                 0
 quantity_group           0
 source                   0
 source_type              0
 source_class             0
 waterpoint_type          0
 waterpoint_type_group    0
 dtype: int64)

In [272]:
df_values.shape, df_test_set.shape

((59400, 32), (14850, 32))

In [273]:
df_values.dtypes

id                         int64
amount_tsh               float64
funder                    object
gps_height                 int64
installer                 object
num_private                int64
basin                     object
region                    object
region_code                int64
district_code              int64
lga                       object
population                 int64
public_meeting            object
recorded_by               object
scheme_management         object
permit                    object
extraction_type           object
extraction_type_group     object
extraction_type_class     object
management                object
management_group          object
payment                   object
payment_type              object
water_quality             object
quality_group             object
quantity                  object
quantity_group            object
source                    object
source_type               object
source_class              object
waterpoint_type           object
waterpoint_type_group     object
dtype: object

# Dummy Variables and Final Cleaning

In [274]:
# Create Dummiy Variables

df_test_set.dtypes

id                         int64
amount_tsh               float64
funder                    object
gps_height                 int64
installer                 object
num_private                int64
basin                     object
region                    object
region_code                int64
district_code              int64
lga                       object
population                 int64
public_meeting            object
recorded_by               object
scheme_management         object
permit                    object
extraction_type           object
extraction_type_group     object
extraction_type_class     object
management                object
management_group          object
payment                   object
payment_type              object
water_quality             object
quality_group             object
quantity                  object
quantity_group            object
source                    object
source_type               object
source_class              object
waterpoint_type           object
waterpoint_type_group     object
dtype: object

In [275]:
predictors_train = df_values.drop(columns='id')
df_test_set = df_test_set.drop(columns='id')

predictors_train.shape, df_test_set.shape

((59400, 31), (14850, 31))

In [276]:
dummies = pd.get_dummies(predictors_train)
dummies.drop(columns='extraction_type_other - mkulima/shinyanga', inplace=True)
dummies.shape

(59400, 311)

In [277]:
test_dummies = pd.get_dummies(df_test_set)
test_dummies.shape

(14850, 311)

In [278]:
set(dummies.columns).symmetric_difference(test_dummies.columns)

set()

In [279]:
dummies.dtypes

amount_tsh                                  float64
gps_height                                    int64
num_private                                   int64
region_code                                   int64
district_code                                 int64
                                             ...
waterpoint_type_group_communal standpipe      uint8
waterpoint_type_group_dam                     uint8
waterpoint_type_group_hand pump               uint8
waterpoint_type_group_improved spring         uint8
waterpoint_type_group_other                   uint8
Length: 311, dtype: object

# Decision Tree Classifier

In [0]:
x = dummies
y = df_labels['status_group']

In [0]:
from sklearn.model_selection import train_test_split

data_train, data_test, target_train, target_test = train_test_split(x, y, 
                                                                    test_size = 0.25, random_state=123)

In [225]:
data_train.dtypes

amount_tsh                                  float64
gps_height                                    int64
num_private                                   int64
region_code                                   int64
district_code                                 int64
                                             ...
waterpoint_type_group_communal standpipe      uint8
waterpoint_type_group_dam                     uint8
waterpoint_type_group_hand pump               uint8
waterpoint_type_group_improved spring         uint8
waterpoint_type_group_other                   uint8
Length: 311, dtype: object

In [226]:
from sklearn.tree import DecisionTreeClassifier

# Instantiate and fit a DecisionTreeClassifier
tree_clf2 = DecisionTreeClassifier(random_state=10, criterion='entropy')  
tree_clf2.fit(data_train, target_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=10, splitter='best')

In [227]:
y_pred= tree_clf2.predict(data_test)
y_pred

array(['functional', 'non functional', 'functional', ..., 'functional',
       'functional', 'non functional'], dtype=object)

In [228]:
from sklearn.metrics import accuracy_score
# Calculate accuracy 
acc = accuracy_score(target_test,y_pred)
print('Accuracy is :{0}'.format(acc))

Accuracy is :0.7527946127946128

In [235]:
y_pred_test_set= tree_clf2.predict(test_dummies)
y_pred_test_set = pd.DataFrame(y_pred_test_set)

y_pred_test_set

                             0
0                   functional
1      functional needs repair
2      functional needs repair
3               non functional
4                   functional
...                        ...
14845           non functional
14846           non functional
14847               functional
14848               functional
14849           non functional

[14850 rows x 1 columns]

In [232]:
from sklearn.metrics import accuracy_score
# Calculate accuracy 
acc = accuracy_score(target_test,y_pred_test_set)
print('Accuracy is :{0}'.format(acc))

Accuracy is :0.44356902356902356

# GridSearch CV

In [0]:
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.metrics import accuracy_score

In [0]:
# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(x, y, random_state=42)

In [284]:
dt_clf = DecisionTreeClassifier()

dt_cv_score = cross_val_score(dt_clf, X_train, y_train, cv=3)
mean_dt_cv_score = np.mean(dt_cv_score)

print(f"Mean Cross Validation Score: {mean_dt_cv_score :.2%}")

Mean Cross Validation Score: 74.30%