<a href="https://colab.research.google.com/github/dapsavoie/tz_water_well_prediction/blob/master/Data_Cleaning_Functions_and_Decision_Tree_Classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os 
import pandas as pd
import numpy as np 
import plotly.express as px 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
df_values = pd.read_csv('/content/drive/My Drive/tz_water_well_data/training_set_labels.csv')
df_labels = pd.read_csv('/content/drive/My Drive/tz_water_well_data/training_set_values.csv')
df_test_set = pd.read_csv('/content/drive/My Drive/tz_water_well_data/test_set_values.csv')


#merging with id
df_values = pd.merge(df_values, df_labels, on='id')

# Data Cleaning 


Steps:
*   Convert datetimes
*   Convert installers not in the top 5 to other
* Convert funder not in the top 5 to other

In [87]:
#Drop Nulls and update df_values 
df_values['date_recorded'] = pd.to_datetime(df_values['date_recorded'])
df_values['construction_year'] = pd.to_datetime(df_values['construction_year'])

df_values[['date_recorded', 'construction_year']].dtypes

date_recorded        datetime64[ns]
construction_year    datetime64[ns]
dtype: object

In [0]:
#replace all installers who arent in the top 5 with other

In [89]:
'DWE'                   
'Government'             
'RWE'                   
'Commu'                  
'DANIDA'   
'Other'

'Other'

In [0]:
def installer_cleaner(row):
#Goes thru each row and replaces anything not in the top 5 installers with other'

  if row['installer'] == 'DWE':
    return 'DWE'
  elif row['installer'] == 'Government':
    return 'Danida'
  elif row['installer'] == 'RWE':
    return 'RWE'
  elif row['installer'] == 'Commu':
    return 'Commu'
  elif row['installer'] == 'DANIDA':
    return 'DANIDA'
  else:
    return 'other'

#run formula 
df_values['installer'] = df_values.apply(lambda row: installer_cleaner(row), axis=1)

In [91]:
df_values['installer'].unique()

array(['other', 'DWE', 'DANIDA', 'Commu', 'Danida', 'RWE'], dtype=object)

In [92]:
funders = df_values['funder'].value_counts().rename_axis('funder').reset_index(name='counts')
funders['funder'].iloc[0:5]

0    Government Of Tanzania
1                    Danida
2                    Hesawa
3                     Rwssp
4                World Bank
Name: funder, dtype: object

In [93]:
Government Of Tanzania
Danida
Hesawa
Rwssp
World Bank

SyntaxError: ignored

In [0]:
def funder_cleaner(row):  
  #Same as before but for funders

    if row['funder']=='Government Of Tanzania':
        return 'Government of Tanzania'
    elif row['funder']=='Danida':
        return 'Danida'
    elif row['funder']=='Hesawa':
        return 'Hesawa'
    elif row['funder']=='Rwssp':
        return 'Rwssp'
    elif row['funder']=='World Bank':
        return 'World_Bank'    
    else:
        return 'other'

#run formulas 
df_values['funder'] = df_values.apply(lambda row: funder_cleaner(row), axis=1)

In [95]:
df_values.isna().sum()

id                           0
amount_tsh                   0
date_recorded                0
funder                       0
gps_height                   0
installer                    0
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
status_group                 0
dtype: int64

In [0]:
df_values['public_meeting'] = df_values['public_meeting'].fillna('Unknown')

In [97]:
df_values['scheme_management'].value_counts()

VWC                 36793
WUG                  5206
Water authority      3153
WUA                  2883
Water Board          2748
Parastatal           1680
Private operator     1063
Company              1061
Other                 766
SWC                    97
Trust                  72
None                    1
Name: scheme_management, dtype: int64

In [98]:
VWC                 36793
WUG                  5206
Water authority      3153
WUA                  2883
Water Board          2748

SyntaxError: ignored

In [0]:
def scheme_management_cleaner(row):  
  #Same as before but for funders

    if row['funder']=='VWC':
        return 'VWC'
    elif row['funder']=='WUG':
        return 'WUG'
    elif row['funder']=='Water authority':
        return 'Water authority'
    elif row['funder']=='WUA':
        return 'WUA'
    elif row['funder']=='Water Board':
        return 'Water Board'    
    else:
        return 'other'

#run formulas 
df_values['scheme_management'] = df_values.apply(lambda row: scheme_management_cleaner(row), axis=1)

In [100]:
#Scheme name, dropping whole column
df_values['scheme_name'].value_counts()

K                                      682
None                                   644
Borehole                               546
Chalinze wate                          405
M                                      400
                                      ...
BL lawate branch line                    1
Gwarama point  sources water supply      1
Dasp                                     1
Mwigimbi piped scheme                    1
Kirwa water supply                       1
Name: scheme_name, Length: 2696, dtype: int64

In [0]:
df_values['permit'] = df_values['permit'].fillna('Unknown')

In [113]:
df_values

          id  amount_tsh  ... waterpoint_type_group    status_group
0      69572      6000.0  ...    communal standpipe      functional
1       8776         0.0  ...    communal standpipe      functional
2      34310        25.0  ...    communal standpipe      functional
3      67743         0.0  ...    communal standpipe  non functional
4      19728         0.0  ...    communal standpipe      functional
...      ...         ...  ...                   ...             ...
59395  60739        10.0  ...    communal standpipe      functional
59396  27263      4700.0  ...    communal standpipe      functional
59397  37057         0.0  ...             hand pump      functional
59398  31282         0.0  ...             hand pump      functional
59399  26348         0.0  ...             hand pump      functional

[59400 rows x 41 columns]

# Pick Columns to use and Encoding

In [103]:
'date_recorded', 'scheme_name', 'longitude', 'latitude', 'subvillage'

('date_recorded', 'scheme_name', 'longitude', 'latitude', 'subvillage')

In [0]:
df_values.columns
predictors = df_values.drop(columns=['status_group', 'date_recorded', 'longitude', 'latitude', 'scheme_name', 'subvillage','wpt_name', 'lga', 'ward', 'extraction_type_group', 'extraction_type_class', 'source_type', 'waterpoint_type_group'])

In [0]:
predictors['region_code'] = predictors['region_code'].astype('category')
predictors['district_code'] = predictors['district_code'].astype('category')

In [163]:
dummy_cols = ['funder', 'installer', 'basin', 'region', 'public_meeting', 'recorded_by', 'scheme_management', 'permit', 'extraction_type', 'management', 'management_group', 'payment', 'payment_type', 'water_quality', 'quality_group', 'quantity', 'quantity_group', 'source', 'source_class', 'waterpoint_type']

predictors.dtypes

id                            int64
amount_tsh                  float64
funder                       object
gps_height                    int64
installer                    object
num_private                   int64
basin                        object
region                       object
region_code                category
district_code              category
population                    int64
public_meeting               object
recorded_by                  object
scheme_management            object
permit                       object
construction_year    datetime64[ns]
extraction_type              object
management                   object
management_group             object
payment                      object
payment_type                 object
water_quality                object
quality_group                object
quantity                     object
quantity_group               object
source                       object
source_class                 object
waterpoint_type              object
dtype: object

In [0]:
train = pd.get_dummies(predictors, columns=dummy_cols)

In [194]:
test = pd.get_dummies(df_test_set, columns=dummy_cols)
test

          id  ...  waterpoint_type_other
0      50785  ...                      1
1      51630  ...                      0
2      17168  ...                      1
3      45559  ...                      1
4      49871  ...                      0
...      ...  ...                    ...
14845  39307  ...                      0
14846  18990  ...                      0
14847  28749  ...                      0
14848  33492  ...                      0
14849  68707  ...                      0

[14850 rows x 2229 columns]

# Random Forest

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier
from sklearn.metrics import confusion_matrix, classification_report

In [198]:
x = train.drop(columns=['construction_year'], axis=1)

y = df_labels['status_group']

x

          id  ...  waterpoint_type_other
0      69572  ...                      0
1       8776  ...                      0
2      34310  ...                      0
3      67743  ...                      0
4      19728  ...                      0
...      ...  ...                    ...
59395  60739  ...                      0
59396  27263  ...                      0
59397  37057  ...                      0
59398  31282  ...                      0
59399  26348  ...                      0

[59400 rows x 150 columns]

In [0]:
# train test split

x_train, x_test, y_train, y_test = train_test_split(x, y, 
                                                     train_size = 0.25, random_state=123)

In [200]:
tree_clf = DecisionTreeClassifier(criterion='gini', max_depth=5)
tree_clf.fit(x_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=5, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [201]:
# Make predictions for test data
y_pred = tree_clf.predict(x_test)  
y_pred

array(['functional', 'functional', 'functional', ..., 'functional',
       'functional', 'functional'], dtype=object)

In [202]:
from sklearn.metrics import accuracy_score, roc_curve, auc

# Calculate accuracy 
acc = accuracy_score(y_test,y_pred) * 100
print('Accuracy is :{0}'.format(acc))

Accuracy is :70.85297418630752