<a href="https://colab.research.google.com/github/dapsavoie/tz_water_well_prediction/blob/master/Final_Cleaning_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Load Data

In [0]:
import pandas as pd 
import numpy as np

In [80]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
df_values = pd.read_csv('/content/drive/My Drive/tz_water_well_data/training_set_labels.csv')
df_labels = pd.read_csv('/content/drive/My Drive/tz_water_well_data/training_set_values.csv')

df_test_set = pd.read_csv('/content/drive/My Drive/tz_water_well_data/test_set_values.csv')

In [82]:
df_values['construction_year']

0        1999
1        2010
2        2009
3        1986
4           0
         ...
59395    1999
59396    1996
59397       0
59398       0
59399    2002
Name: construction_year, Length: 59400, dtype: int64

In [83]:
pd.to_datetime(df_values['construction_year'], format="%Y")

ValueError: ignored

# Datetime Conversions 

- This does NOT work

In [0]:
#Train dtype datetime conversion

df_values['construction_year'] = pd.to_datetime(df_values['construction_year'], exact=True)
df_values['date_recorded'] = pd.to_datetime(df_values['date_recorded'], exact=True)

In [0]:
#test dtype datetime conversion
df_test_set['construction_year'] = pd.to_datetime(df_test_set['construction_year'])
df_test_set['date_recorded'] = pd.to_datetime(df_test_set['date_recorded'])

In [86]:
df_values['construction_year'].value_counts()

1970-01-01 00:00:00.000000000    20709
1970-01-01 00:00:00.000002010     2645
1970-01-01 00:00:00.000002008     2613
1970-01-01 00:00:00.000002009     2533
1970-01-01 00:00:00.000002000     2091
1970-01-01 00:00:00.000002007     1587
1970-01-01 00:00:00.000002006     1471
1970-01-01 00:00:00.000002003     1286
1970-01-01 00:00:00.000002011     1256
1970-01-01 00:00:00.000002004     1123
1970-01-01 00:00:00.000002012     1084
1970-01-01 00:00:00.000002002     1075
1970-01-01 00:00:00.000001978     1037
1970-01-01 00:00:00.000001995     1014
1970-01-01 00:00:00.000002005     1011
1970-01-01 00:00:00.000001999      979
1970-01-01 00:00:00.000001998      966
1970-01-01 00:00:00.000001990      954
1970-01-01 00:00:00.000001985      945
1970-01-01 00:00:00.000001980      811
1970-01-01 00:00:00.000001996      811
1970-01-01 00:00:00.000001984      779
1970-01-01 00:00:00.000001982      744
1970-01-01 00:00:00.000001994      738
1970-01-01 00:00:00.000001972      708
1970-01-01 00:00:00.000001974      676
1970-01-01 00:00:00.000001997      644
1970-01-01 00:00:00.000001992      640
1970-01-01 00:00:00.000001993      608
1970-01-01 00:00:00.000002001      540
1970-01-01 00:00:00.000001988      521
1970-01-01 00:00:00.000001983      488
1970-01-01 00:00:00.000001975      437
1970-01-01 00:00:00.000001986      434
1970-01-01 00:00:00.000001976      414
1970-01-01 00:00:00.000001970      411
1970-01-01 00:00:00.000001991      324
1970-01-01 00:00:00.000001989      316
1970-01-01 00:00:00.000001987      302
1970-01-01 00:00:00.000001981      238
1970-01-01 00:00:00.000001977      202
1970-01-01 00:00:00.000001979      192
1970-01-01 00:00:00.000001973      184
1970-01-01 00:00:00.000002013      176
1970-01-01 00:00:00.000001971      145
1970-01-01 00:00:00.000001960      102
1970-01-01 00:00:00.000001967       88
1970-01-01 00:00:00.000001963       85
1970-01-01 00:00:00.000001968       77
1970-01-01 00:00:00.000001969       59
1970-01-01 00:00:00.000001964       40
1970-01-01 00:00:00.000001962       30
1970-01-01 00:00:00.000001961       21
1970-01-01 00:00:00.000001965       19
1970-01-01 00:00:00.000001966       17
Name: construction_year, dtype: int64

# Aggregating Top 5 and converting everything else to other for columns
- Installer
- Funder
- Scheme_management
- Ward

In [87]:
def installer_cleaner(row):
  
#Goes thru each row and replaces anything not in the top 5 installers with other'
  if row['installer'] == 'DWE':
    return 'DWE'
  elif row['installer'] == 'Government':
    return 'Danida'
  elif row['installer'] == 'RWE':
    return 'RWE'
  elif row['installer'] == 'Commu':
    return 'Commu'
  elif row['installer'] == 'DANIDA':
    return 'DANIDA'
  else:
    return 'other'

#run formula 
df_values['installer'] = df_values.apply(lambda row: installer_cleaner(row), axis=1) 
df_test_set['installer'] = df_test_set.apply(lambda row: installer_cleaner(row), axis=1)

#Unit Test
df_values['installer'].value_counts(), df_test_set['installer'].value_counts()

(other     36857
 DWE       17402
 Danida     1825
 RWE        1206
 Commu      1060
 DANIDA     1050
 Name: installer, dtype: int64, other     9210
 DWE       4349
 Danida     457
 RWE        292
 Commu      287
 DANIDA     255
 Name: installer, dtype: int64)

In [88]:
def funder_cleaner(row):  
  #Same as before but for funders

    if row['funder']=='Government Of Tanzania':
        return 'Government of Tanzania'
    elif row['funder']=='Danida':
        return 'Danida'
    elif row['funder']=='Hesawa':
        return 'Hesawa'
    elif row['funder']=='Rwssp':
        return 'Rwssp'
    elif row['funder']=='World Bank':
        return 'World_Bank'    
    else:
        return 'other'

#run formulas 
df_values['funder'] = df_values.apply(lambda row: funder_cleaner(row), axis=1)
df_test_set['funder'] = df_test_set.apply(lambda row: funder_cleaner(row), axis=1)

#Unit Test
df_values['funder'].value_counts(), df_test_set['funder'].value_counts()

(other                     42277
 Government of Tanzania     9084
 Danida                     3114
 Hesawa                     2202
 Rwssp                      1374
 World_Bank                 1349
 Name: funder, dtype: int64, other                     10581
 Government of Tanzania     2215
 Danida                      793
 Hesawa                      580
 World_Bank                  352
 Rwssp                       329
 Name: funder, dtype: int64)

In [89]:
def scheme_management_cleaner(row):  
  #Same as before but for funders

    if row['scheme_management']=='VWC':
        return 'VWC'
    elif row['scheme_management']=='WUG':
        return 'WUG'
    elif row['scheme_management']=='Water authority':
        return 'Water authority'
    elif row['scheme_management']=='WUA':
        return 'WUA'
    elif row['scheme_management']=='Water Board':
        return 'Water Board'    
    else:
        return 'other'

#run formulas 
df_values['scheme_management'] = df_values.apply(lambda row: scheme_management_cleaner(row), axis=1)
df_test_set['scheme_management'] = df_test_set.apply(lambda row: scheme_management_cleaner(row), axis=1)

df_values['scheme_management'].value_counts(), df_test_set['scheme_management'].value_counts()

(VWC                36793
 other               8617
 WUG                 5206
 Water authority     3153
 WUA                 2883
 Water Board         2748
 Name: scheme_management, dtype: int64, VWC                9124
 other              2232
 WUG                1290
 Water authority     822
 Water Board         714
 WUA                 668
 Name: scheme_management, dtype: int64)

In [90]:
def ward_cleaner(row):  
  #Same as before but for funders

    if row['ward']=='Igosi':
        return 'Igosi'
    elif row['ward']=='Imalinyi':
        return 'Imalinyi'
    elif row['ward']=='Siha Kati':
        return 'Siha Kati'
    elif row['ward']=='Mdandu':
        return 'Mdandu'
    elif row['ward']=='Nduruma':
        return 'Nduruma'    
    else:
        return 'other'

#run formulas 
df_values['scheme_management'] = df_values.apply(lambda row: ward_cleaner(row), axis=1)
df_test_set['scheme_management'] = df_test_set.apply(lambda row: ward_cleaner(row), axis=1)

df_values['ward'].value_counts(), df_test_set['ward'].value_counts()

(Igosi        307
 Imalinyi     252
 Siha Kati    232
 Mdandu       231
 Nduruma      217
             ...
 Simbay         1
 Matarawe       1
 Chinugulu      1
 Igogo          1
 Kirongo        1
 Name: ward, Length: 2092, dtype: int64, Igosi        79
 Imalinyi     66
 Siha Kati    65
 Mdandu       61
 Kitunda      57
              ..
 Kikubiji      1
 Mwalugulu     1
 Kibasuka      1
 Ishunju       1
 Magengeni     1
 Name: ward, Length: 1959, dtype: int64)

# Null Treatements & Imputations
- Public meeting
- Permit

In [0]:
#Train Set
df_values['public_meeting'] = df_values['public_meeting'].fillna('Unknown')
df_values['permit'] = df_values['permit'].fillna('Unknown')

#Test Set
df_test_set['public_meeting'] = df_values['public_meeting'].fillna('Unknown')
df_test_set['permit'] = df_values['permit'].fillna('Unknown')

In [0]:
df_values.drop(columns=['subvillage', 'scheme_name'], inplace=True)

In [0]:
df_test_set.drop(columns=['subvillage', 'scheme_name'], inplace=True)

In [94]:
#Unit Test 
df_values.isna().sum(), df_test_set.isna().sum()

(id                       0
 amount_tsh               0
 date_recorded            0
 funder                   0
 gps_height               0
 installer                0
 longitude                0
 latitude                 0
 wpt_name                 0
 num_private              0
 basin                    0
 region                   0
 region_code              0
 district_code            0
 lga                      0
 ward                     0
 population               0
 public_meeting           0
 recorded_by              0
 scheme_management        0
 permit                   0
 construction_year        0
 extraction_type          0
 extraction_type_group    0
 extraction_type_class    0
 management               0
 management_group         0
 payment                  0
 payment_type             0
 water_quality            0
 quality_group            0
 quantity                 0
 quantity_group           0
 source                   0
 source_type              0
 source_class             0
 waterpoint_type          0
 waterpoint_type_group    0
 dtype: int64, id                       0
 amount_tsh               0
 date_recorded            0
 funder                   0
 gps_height               0
 installer                0
 longitude                0
 latitude                 0
 wpt_name                 0
 num_private              0
 basin                    0
 region                   0
 region_code              0
 district_code            0
 lga                      0
 ward                     0
 population               0
 public_meeting           0
 recorded_by              0
 scheme_management        0
 permit                   0
 construction_year        0
 extraction_type          0
 extraction_type_group    0
 extraction_type_class    0
 management               0
 management_group         0
 payment                  0
 payment_type             0
 water_quality            0
 quality_group            0
 quantity                 0
 quantity_group           0
 source                   0
 source_type              0
 source_class             0
 waterpoint_type          0
 waterpoint_type_group    0
 dtype: int64)

# Export for Dummy Treatment

In [0]:
#Train Export to csv
df_values.to_csv(r'/content/drive/My Drive/tz_water_well_data/clean_train.csv', index=False)

#Test export to csv 
df_test_set.to_csv(r'/content/drive/My Drive/tz_water_well_data/clean_test.csv', index=False)