<a href="https://colab.research.google.com/github/dapsavoie/tz_water_well_prediction/blob/master/Final_Dummy_Encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Load Data

In [0]:
import pandas as pd 
import numpy as np

In [201]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
clean_test = pd.read_csv('/content/drive/My Drive/tz_water_well_data/clean_test.csv')
clean_train = pd.read_csv('/content/drive/My Drive/tz_water_well_data/clean_train.csv')
df_labels = pd.read_csv('/content/drive/My Drive/tz_water_well_data/training_set_values.csv')
submissionformat = pd.read_csv('/content/drive/My Drive/tz_water_well_data/SubmissionFormat.csv')

In [203]:
clean_test.shape, clean_train.shape

((14850, 38), (59400, 38))

# Datetime Conversion - DEBUG

In [204]:
clean_test['date_recorded'].value_counts(), clean_train['construction_year'].value_counts()

(2013-02-03 00:00:00.000000000    138
 2011-03-17 00:00:00.000000000    137
 2011-03-16 00:00:00.000000000    137
 2011-03-18 00:00:00.000000000    130
 2011-03-14 00:00:00.000000000    129
                                 ...
 2011-02-02 00:00:00.000000000      1
 2004-12-03 00:00:00.000000000      1
 2011-09-07 00:00:00.000000000      1
 2011-09-24 00:00:00.000000000      1
 2011-09-22 00:00:00.000000000      1
 Name: date_recorded, Length: 331, dtype: int64,
 1970-01-01 00:00:00.000000000    20709
 1970-01-01 00:00:00.000002010     2645
 1970-01-01 00:00:00.000002008     2613
 1970-01-01 00:00:00.000002009     2533
 1970-01-01 00:00:00.000002000     2091
 1970-01-01 00:00:00.000002007     1587
 1970-01-01 00:00:00.000002006     1471
 1970-01-01 00:00:00.000002003     1286
 1970-01-01 00:00:00.000002011     1256
 1970-01-01 00:00:00.000002004     1123
 1970-01-01 00:00:00.000002012     1084
 1970-01-01 00:00:00.000002002     1075
 1970-01-01 00:00:00.000001978     1037
 1970-01-01 00:00:00.000001995     1014
 1970-01-01 00:00:00.000002005     1011
 1970-01-01 00:00:00.000001999      979
 1970-01-01 00:00:00.000001998      966
 1970-01-01 00:00:00.000001990      954
 1970-01-01 00:00:00.000001985      945
 1970-01-01 00:00:00.000001996      811
 1970-01-01 00:00:00.000001980      811
 1970-01-01 00:00:00.000001984      779
 1970-01-01 00:00:00.000001982      744
 1970-01-01 00:00:00.000001994      738
 1970-01-01 00:00:00.000001972      708
 1970-01-01 00:00:00.000001974      676
 1970-01-01 00:00:00.000001997      644
 1970-01-01 00:00:00.000001992      640
 1970-01-01 00:00:00.000001993      608
 1970-01-01 00:00:00.000002001      540
 1970-01-01 00:00:00.000001988      521
 1970-01-01 00:00:00.000001983      488
 1970-01-01 00:00:00.000001975      437
 1970-01-01 00:00:00.000001986      434
 1970-01-01 00:00:00.000001976      414
 1970-01-01 00:00:00.000001970      411
 1970-01-01 00:00:00.000001991      324
 1970-01-01 00:00:00.000001989      316
 1970-01-01 00:00:00.000001987      302
 1970-01-01 00:00:00.000001981      238
 1970-01-01 00:00:00.000001977      202
 1970-01-01 00:00:00.000001979      192
 1970-01-01 00:00:00.000001973      184
 1970-01-01 00:00:00.000002013      176
 1970-01-01 00:00:00.000001971      145
 1970-01-01 00:00:00.000001960      102
 1970-01-01 00:00:00.000001967       88
 1970-01-01 00:00:00.000001963       85
 1970-01-01 00:00:00.000001968       77
 1970-01-01 00:00:00.000001969       59
 1970-01-01 00:00:00.000001964       40
 1970-01-01 00:00:00.000001962       30
 1970-01-01 00:00:00.000001961       21
 1970-01-01 00:00:00.000001965       19
 1970-01-01 00:00:00.000001966       17
 Name: construction_year, dtype: int64)

In [0]:
clean_train['construction_year'] = pd.to_datetime(clean_train['construction_year'])

In [206]:
clean_test.dtypes, clean_train.dtypes

(id                         int64
 amount_tsh               float64
 date_recorded             object
 funder                    object
 gps_height                 int64
 installer                 object
 longitude                float64
 latitude                 float64
 wpt_name                  object
 num_private                int64
 basin                     object
 region                    object
 region_code                int64
 district_code              int64
 lga                       object
 ward                      object
 population                 int64
 public_meeting            object
 recorded_by               object
 scheme_management         object
 permit                    object
 construction_year         object
 extraction_type           object
 extraction_type_group     object
 extraction_type_class     object
 management                object
 management_group          object
 payment                   object
 payment_type              object
 water_quality             object
 quality_group             object
 quantity                  object
 quantity_group            object
 source                    object
 source_type               object
 source_class              object
 waterpoint_type           object
 waterpoint_type_group     object
 dtype: object, id                                int64
 amount_tsh                      float64
 date_recorded                    object
 funder                           object
 gps_height                        int64
 installer                        object
 longitude                       float64
 latitude                        float64
 wpt_name                         object
 num_private                       int64
 basin                            object
 region                           object
 region_code                       int64
 district_code                     int64
 lga                              object
 ward                             object
 population                        int64
 public_meeting                   object
 recorded_by                      object
 scheme_management                object
 permit                           object
 construction_year        datetime64[ns]
 extraction_type                  object
 extraction_type_group            object
 extraction_type_class            object
 management                       object
 management_group                 object
 payment                          object
 payment_type                     object
 water_quality                    object
 quality_group                    object
 quantity                         object
 quantity_group                   object
 source                           object
 source_type                      object
 source_class                     object
 waterpoint_type                  object
 waterpoint_type_group            object
 dtype: object)

In [207]:
clean_test['construction_year'].value_counts()

1970-01-01 00:00:00.000000000    5260
1970-01-01 00:00:00.000002010     669
1970-01-01 00:00:00.000002009     663
1970-01-01 00:00:00.000002008     630
1970-01-01 00:00:00.000002000     487
1970-01-01 00:00:00.000002006     421
1970-01-01 00:00:00.000002007     373
1970-01-01 00:00:00.000002011     335
1970-01-01 00:00:00.000002004     294
1970-01-01 00:00:00.000002003     293
1970-01-01 00:00:00.000001995     269
1970-01-01 00:00:00.000002002     268
1970-01-01 00:00:00.000002005     264
1970-01-01 00:00:00.000002012     263
1970-01-01 00:00:00.000001999     243
1970-01-01 00:00:00.000001985     232
1970-01-01 00:00:00.000001978     230
1970-01-01 00:00:00.000001998     224
1970-01-01 00:00:00.000001990     222
1970-01-01 00:00:00.000001996     209
1970-01-01 00:00:00.000001994     202
1970-01-01 00:00:00.000001980     194
1970-01-01 00:00:00.000001984     191
1970-01-01 00:00:00.000001972     184
1970-01-01 00:00:00.000001982     182
1970-01-01 00:00:00.000001997     177
1970-01-01 00:00:00.000001992     167
1970-01-01 00:00:00.000002001     140
1970-01-01 00:00:00.000001974     138
1970-01-01 00:00:00.000001993     137
1970-01-01 00:00:00.000001988     136
1970-01-01 00:00:00.000001975     124
1970-01-01 00:00:00.000001986     119
1970-01-01 00:00:00.000001976     111
1970-01-01 00:00:00.000001983     106
1970-01-01 00:00:00.000001991      83
1970-01-01 00:00:00.000001970      82
1970-01-01 00:00:00.000001989      80
1970-01-01 00:00:00.000001987      68
1970-01-01 00:00:00.000001979      53
1970-01-01 00:00:00.000001981      53
1970-01-01 00:00:00.000001977      45
1970-01-01 00:00:00.000001973      43
1970-01-01 00:00:00.000002013      33
1970-01-01 00:00:00.000001971      32
1970-01-01 00:00:00.000001963      22
1970-01-01 00:00:00.000001960      22
1970-01-01 00:00:00.000001969      18
1970-01-01 00:00:00.000001967      18
1970-01-01 00:00:00.000001968      16
1970-01-01 00:00:00.000001964       8
1970-01-01 00:00:00.000001961       7
1970-01-01 00:00:00.000001962       6
1970-01-01 00:00:00.000001965       2
1970-01-01 00:00:00.000001966       2
Name: construction_year, dtype: int64

# Drop Columns of Names

In [0]:
clean_test.drop(columns=['wpt_name', 'ward', 'date_recorded', 'construction_year'], inplace=True)
clean_train.drop(columns=['wpt_name', 'ward', 'date_recorded', 'construction_year'], inplace=True)

In [209]:
clean_test.columns, clean_train.columns

(Index(['id', 'amount_tsh', 'funder', 'gps_height', 'installer', 'longitude',
        'latitude', 'num_private', 'basin', 'region', 'region_code',
        'district_code', 'lga', 'population', 'public_meeting', 'recorded_by',
        'scheme_management', 'permit', 'extraction_type',
        'extraction_type_group', 'extraction_type_class', 'management',
        'management_group', 'payment', 'payment_type', 'water_quality',
        'quality_group', 'quantity', 'quantity_group', 'source', 'source_type',
        'source_class', 'waterpoint_type', 'waterpoint_type_group'],
       dtype='object'),
 Index(['id', 'amount_tsh', 'funder', 'gps_height', 'installer', 'longitude',
        'latitude', 'num_private', 'basin', 'region', 'region_code',
        'district_code', 'lga', 'population', 'public_meeting', 'recorded_by',
        'scheme_management', 'permit', 'extraction_type',
        'extraction_type_group', 'extraction_type_class', 'management',
        'management_group', 'payment', 'payment_type', 'water_quality',
        'quality_group', 'quantity', 'quantity_group', 'source', 'source_type',
        'source_class', 'waterpoint_type', 'waterpoint_type_group'],
       dtype='object'))

# Dummy Encoding

In [210]:
predictors_train = clean_train
df_test_set = clean_test

predictors_train.shape, df_test_set.shape

((59400, 34), (14850, 34))

In [211]:
train_dummies = pd.get_dummies(predictors_train)
train_dummies.drop(columns='extraction_type_other - mkulima/shinyanga', inplace=True)
train_dummies.shape

(59400, 314)

In [212]:
test_dummies = pd.get_dummies(df_test_set)
test_dummies.shape

(14850, 314)

In [213]:
set(dummies.columns).symmetric_difference(test_dummies.columns)

set()

In [214]:
train_dummies

          id  ...  waterpoint_type_group_other
0      69572  ...                            0
1       8776  ...                            0
2      34310  ...                            0
3      67743  ...                            0
4      19728  ...                            0
...      ...  ...                          ...
59395  60739  ...                            0
59396  27263  ...                            0
59397  37057  ...                            0
59398  31282  ...                            0
59399  26348  ...                            0

[59400 rows x 314 columns]

In [0]:
#Train Export to csv
train_dummies.to_csv(r'/content/drive/My Drive/tz_water_well_data/train_dummmies.csv')

#Test export to csv 
test_dummies.to_csv(r'/content/drive/My Drive/tz_water_well_data/test_dummies.csv')

# Build Decision Tree Classifier

In [0]:
dummies_train = pd.read_csv(r'/content/drive/My Drive/tz_water_well_data/train_dummmies.csv')

dummies_test = pd.read_csv(r'/content/drive/My Drive/tz_water_well_data/test_dummies.csv')

In [0]:
x = dummies_train

y= df_labels['status_group']

In [0]:
from sklearn.model_selection import train_test_split

data_train, data_test, target_train, target_test = train_test_split(x, y, 
                                                                    test_size = 0.25, random_state=123)

In [220]:
from sklearn.tree import DecisionTreeClassifier

# Instantiate and fit a DecisionTreeClassifier
tree_clf2 = DecisionTreeClassifier(random_state=10, criterion='entropy')  
tree_clf2.fit(data_train, target_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=10, splitter='best')

In [221]:
y_pred= tree_clf2.predict(data_test) #does not shuffle index of data 
y_pred

array(['functional', 'non functional', 'functional', ..., 'functional',
       'functional', 'non functional'], dtype=object)

In [224]:
test_preds = tree_clf2.predict(dummies_test)
test_preds

array(['functional', 'functional', 'functional needs repair', ...,
       'functional', 'functional', 'non functional'], dtype=object)

In [0]:
data_test['pred'] = y_pred

data_test.columns

In [0]:
from sklearn.metrics import accuracy_score
# Calculate accuracy 
acc = accuracy_score(target_test,y_pred)
print('Accuracy is :{0}'.format(acc))